@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}
body {
  margin: 0%;
  padding: 0%;
  font-family: "Arial", Helvetica, sans-serif;
}
i{
  font-size: 70px;
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(-50%, -50%);
}
.quoteContainer{

  font-family: sans-serif;
  font-size: 500px;
  position: absolute;
  bottom: 40px;
  left: 700px;
  


}
.clockContainer{
  font-family: sans-serif;
  font-size: 100px;
  position: absolute;
  bottom: 150px;
  left: 700px;
}
.outer-wrapper {
  overflow: auto;
  width: 15%;
  height: 500px;
  background: #1b9aaa;
  position: absolute;
  right: 10px;
  bottom: 350px;
}

.clearfix {
  clear: both;
}

.title {
  font-family: cursive;
  font-size: 20px;
  font-weight: 700;
  background-color: #ffc43d;
  border: #ffc43d;
  text-align: center;
}

input, textarea, button {
  border: 1px solid rgb(218,218,218);
  padding: 4px;
  background: white;
  border-radius: 3px;
}

button {
  background: #F7EDE2;
  box-shadow: inset -2px -2px 1px rgba(0,0,0,0.2);
  transition: 0.1s all;
}

button:hover, button:focus {
  background: #ddd;
}

button:active {
  box-shadow: inset -2px -2px 1px rgba(0,0,0,0.05);
}

input, textarea {
  font-family: sans-serif;
  box-shadow: inset 2px 2px 1px rgba(0,0,0,0.10);
}

h2 {
  font-size: 1.3rem;
}

p, input, textarea {
  font-size: 1.2rem;
  line-height: 1.5;
}

.new-note {
  width: 100%;
  margin-bottom: 5px;
  padding: 2px;
}

input {
  width: 100%;
  margin-bottom: 2px;
}

textarea {
  width: 100%;
  margin-bottom: 4px;
  resize: none;
}

.clear {
  float: left;
}

.add {
  float: right;
}
.note {
  padding: 2px;
}

.delete {
  float: right;
}

p {
  margin: 0;
}

.cancel {
  float: left;
}

.update {
  float: right;
}

.player {
  width: 640px;
  background-color: var(--bg);
  display: grid;
  grid-template-columns: 48px 1fr 48px;
  grid-gap: 16px;
  padding: 8px 24px;
  position: relative;
  border-radius: 64px;
}

.control,#current {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
}

#playbtn {
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  cursor: pointer;
}

#playbtn:hover {
  -webkit-text-fill-color: white;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}

#current {
  text-align: right;
}

.bar {
  --space: -4px;
  background-color: #24242424;
  overflow: hidden;
  left: var(--space);
  right: var(--space);
  top: var(--space);
  bottom: var(--space);
  position: absolute;
  border-radius: 64px;
  z-index: -2;
}

#progress {
  display: blcok;
  width: var(--progress,0%);
  background-color: white;
  transition: all 1s linear;
  height: 100%;
}

section {
  display: flex;
  align-items: center;
  height: 100%;
}

.container {
  width: min(42.5rem, 100%);
  margin-inline: auto;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.painel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 20rem;
  margin-block: 5rem;
  padding: 1rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow); 
  box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.painel p {
  opacity: .8;
  transition: 1s ease-in;
}

.painel p.active {
  opacity: 1;
  color: var(--color-secondary);
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow); 
  box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
  position: relative;
}

.circle::before {
  content: '';
  position: absolute;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.time {
  position: relative;
  display: flex;
  flex-direction: row;
}

.time p {
  font-size: 5.6rem;
}

.time p:nth-of-type(2) {
  position: relative;
  top: -.5rem;
  margin-inline: 1rem;
}

.controls {
  margin-top: 3rem;
}

.controls button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.controls #reset {
  display: none;
}

h1 {
  margin: 15px 0;
  font-weight: 900;
  font-size: 28px;
  text-align: center;
}
input {
  transition: 0.5s ease-in-out;
  margin: 10px 0;
  font-size: 18px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.11);
  border: none;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  margin: 35px 0;
}
button {
  margin: 5px;
  padding: 10px;
  border: none;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}
label {
  font-size: 12px;
}
form {
  height: 20%;
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 370px;
  margin: 5px auto;
}
form button {
  background: rgb(25, 67, 255);
  width: 100%;
  margin: 5px 0;
  color: white;
}
.start {
  background: rgb(48, 33, 253);
  color: white;
}
.break {
  background: rgb(0, 199, 116);
  color: #000000;
}
.reset {
  background: rgb(250, 69, 109);
  color: #000000;
}
.pause {
  background: rgb(253, 143, 17);
}
.resume {
  background: rgb(131, 10, 252);
  color: white;
}
.clock {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 24px;
}
.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring__circle {
  transition: 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: rgb(51, 65, 255);
}

footer {
  position: fixed;
  bottom: 4px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.danger {
  stroke: rgb(243, 17, 28);
  animation: pulse 0.9s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: rotate(-90deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) scale(1.05);
  }
  75% {
    transform: rotate(-90deg) scale(0.8);
  }
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas:
      "head head"
      "clock form"
      "btns ji";
  }
  .btn-group {
    grid-area: btns;
    justify-content: center;
  }
  .clock {
    grid-area: clock;
    height: 100%;
  }
  h1 {
    grid-area: head;

    align-self: center;
  }
  form {
    align-self: center;
    justify-self: center;
    grid-area: form;
    width: 50%;
    justify-content: space-around;
  }
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  form {
    height: 40%;
  }
  footer {
    position: static;
  }
}